<div class="container">
    <h1>Contacto</h1>

    <div #texto><p appResaltado>Esta es la página de contacto, podés enviarnos cualquier duda</p></div>

    <!--Tamaño del slider
    <input type="number" [(ngModel)]="widthSlider" (keyup.enter)="cargarSlider()">

    <div *ngIf="anchuraToSlider">
        <app-slider [anchura]="anchuraToSlider"
                    [etiquetas]="captions"
                    (getAutor)="autor($event)"
        ></app-slider>
    </div>

    <div *ngIf="infoAutor">{{infoAutor.nombre + " " + infoAutor.correo + " " + infoAutor.profesion}}</div>-->

    
    
</div>
