
.container-error{
    margin-top: 10px;
}

.message {
    width: 50%;
    padding: 5px;
    border: 1px solid #eee
}

.success{
    background: green;
    color: white;
}

.message a{
    color: white;
}

.failed{
    background: red;
    color: white;
}