<header>
  <ul>
    <li><a [routerLink]="[ '/sobre-mi' ]" routerLinkActive="active">Sobre mí</a></li>
    <li><a [routerLink]="[ '/proyectos' ]" routerLinkActive="active">Proyectos</a></li>
    <li id="logo"><a href="#">SL</a></li>
    <li><a [routerLink]="[ '/crear-proyecto' ]" routerLinkActive="active">Crear Proyecto</a></li>
    <li><a [routerLink]="[ '/contacto' ]" routerLinkActive="active">Contacto</a></li>
  </ul>
</header>

<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>
  Portafolio de Saúl Laínez &copy;
</footer>



